body {
	font-family: sans-serif;
    font-size: 40px;
    color: #545454;
    width:40%;
    margin-left:auto;
    margin-right:auto;
}

tr, td {
	border: 1px solid black;
}

td {
    width: 100px;
    text-align: center;
    font-size: 40px;
}

tr{
    height: 100px;
}

#isPlaying{
    color:green;
    font-weight: bold;
    font-size: 60px;
}

button{
    font-family: sans-serif;
    font-size: 40px;
    color: #545454;
}